@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
}


html {
  font-family: Gelasio, serif;
  font-size: 16px;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgb(248, 248, 248);
}

a:link {
  color: rgb(0, 140, 255);
}

a:active {
  color: rgb(0, 86, 156);
}

a:visited {
  color: rgb(30, 86, 240);
}

a:hover {
  color:  rgb(0, 121, 219);
}


h1 {
  /* font-size: 3.8rem; */
  font-size: clamp(2.5rem, 4vw + 1rem, 3.8rem);
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1.4rem;
  opacity: .85;
}



.avatar {
  display: block;
  width: 44px;
  height: 44px;
  background-color: cadetblue;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}



.tags {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5px;
  margin: 1rem 0;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  background-color: rgb(163, 232, 253);
  color: rgb(0, 113, 148);
  padding: .3rem 1rem;
  border-radius: 50px;
  font-weight: 600;
  white-space: nowrap;
}


.back-icon {
  /* background-color: red; */
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: .5rem 1rem;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.60);
  fill: rgba(0, 0, 0, 0.60);
  font-weight: 600;
}

.back-icon:link,
.back-icon:visited {
  color: rgba(0, 0, 0, 0.60);
}

.back-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.back-icon:active {
  background-color: rgba(0, 0, 0, 0.3);
}